# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

# Node
node_modules/
dist/
.quasar/
.q-cache/
.cache/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Quasar specific
/src-capacitor/node_modules/
/src-cordova/node_modules/

# Django
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/
.venv/
ENV/

# Django settings
*.env
*.env.*

# Static & media
/staticfiles/
/media/

# Django BUILD / TEST / CACHE
.coverage
htmlcov/
.pytest_cache/
.tox/
.cache/

# IDE / EDITOR
.vscode/
.idea/
*.iml

# OS / MISC
*.bak
*.orig