--
-- PostgreSQL database dump
--

\restrict tZAbPBhShRch4dYUyDv8gPTHMiLiF6ilCYVMyNEVRuvcLBobgSWNQKgBqnusbhg

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO itcadmin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: itcadmin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO itcadmin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: itcadmin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO itcadmin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: itcadmin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authentication_user; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.authentication_user (
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    id uuid NOT NULL,
    email character varying(254) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.authentication_user OWNER TO itcadmin;

--
-- Name: authentication_user_groups; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.authentication_user_groups (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.authentication_user_groups OWNER TO itcadmin;

--
-- Name: authentication_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: itcadmin
--

ALTER TABLE public.authentication_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.authentication_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authentication_user_user_permissions; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.authentication_user_user_permissions (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.authentication_user_user_permissions OWNER TO itcadmin;

--
-- Name: authentication_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: itcadmin
--

ALTER TABLE public.authentication_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.authentication_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_profile; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.core_profile (
    id uuid NOT NULL,
    first_name character varying(150) NOT NULL,
    middle_name character varying(150),
    last_name character varying(150) NOT NULL,
    suffix character varying(50),
    user_id uuid NOT NULL
);


ALTER TABLE public.core_profile OWNER TO itcadmin;

--
-- Name: core_unit; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.core_unit (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    short_code character varying(50) NOT NULL,
    description text,
    parent_id uuid
);


ALTER TABLE public.core_unit OWNER TO itcadmin;

--
-- Name: core_unitofmeasure; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.core_unitofmeasure (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    short_code character varying(50) NOT NULL,
    description text
);


ALTER TABLE public.core_unitofmeasure OWNER TO itcadmin;

--
-- Name: core_userunit; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.core_userunit (
    id uuid NOT NULL,
    is_primary boolean NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    unit_id uuid NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.core_userunit OWNER TO itcadmin;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id uuid NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO itcadmin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: itcadmin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO itcadmin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: itcadmin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO itcadmin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: itcadmin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO itcadmin;

--
-- Name: pme_document; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.pme_document (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    short_code character varying(50),
    description text,
    start_date date,
    end_date date,
    status integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    reporting_frequency_id uuid,
    template_id uuid NOT NULL
);


ALTER TABLE public.pme_document OWNER TO itcadmin;

--
-- Name: pme_initiative; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.pme_initiative (
    id uuid NOT NULL,
    description character varying(500) NOT NULL,
    target_date date NOT NULL,
    value numeric(18,2) NOT NULL,
    remarks text,
    created_by_id uuid NOT NULL,
    unit_id uuid,
    item_id uuid NOT NULL
);


ALTER TABLE public.pme_initiative OWNER TO itcadmin;

--
-- Name: pme_initiativeaccomplishment; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.pme_initiativeaccomplishment (
    id uuid NOT NULL,
    file_path character varying(500),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    initiative_id uuid NOT NULL,
    submitted_by_id uuid NOT NULL,
    reporting_period_id uuid
);


ALTER TABLE public.pme_initiativeaccomplishment OWNER TO itcadmin;

--
-- Name: pme_item; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.pme_item (
    id uuid NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    target numeric(15,2),
    start_date date,
    end_date date,
    status integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    document_id uuid NOT NULL,
    parent_id uuid,
    unit_of_measure_id uuid,
    template_node_type_id uuid NOT NULL
);


ALTER TABLE public.pme_item OWNER TO itcadmin;

--
-- Name: pme_itemcontributor; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.pme_itemcontributor (
    id uuid NOT NULL,
    item_id uuid NOT NULL,
    unit_id uuid NOT NULL
);


ALTER TABLE public.pme_itemcontributor OWNER TO itcadmin;

--
-- Name: pme_reportingfrequency; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.pme_reportingfrequency (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    short_code character varying(50) NOT NULL,
    description text,
    months_interval smallint NOT NULL,
    CONSTRAINT pme_reportingfrequency_months_interval_check CHECK ((months_interval >= 0))
);


ALTER TABLE public.pme_reportingfrequency OWNER TO itcadmin;

--
-- Name: pme_reportingperiod; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.pme_reportingperiod (
    id uuid NOT NULL,
    period_number integer NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    deadline date NOT NULL,
    document_id uuid NOT NULL,
    CONSTRAINT pme_reportingperiod_period_number_check CHECK ((period_number >= 0))
);


ALTER TABLE public.pme_reportingperiod OWNER TO itcadmin;

--
-- Name: pme_template; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.pme_template (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    short_code character varying(50),
    description text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.pme_template OWNER TO itcadmin;

--
-- Name: pme_templatenodetype; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.pme_templatenodetype (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    short_code character varying(50),
    description text,
    "order" integer NOT NULL,
    is_parent boolean NOT NULL,
    template_id uuid NOT NULL,
    CONSTRAINT pme_templatenodetype_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.pme_templatenodetype OWNER TO itcadmin;

--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO itcadmin;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: itcadmin
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: itcadmin
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id uuid,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO itcadmin;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: itcadmin
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: authentication_user; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: authentication_user_groups; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.authentication_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: authentication_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.authentication_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: core_profile; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.core_profile (id, first_name, middle_name, last_name, suffix, user_id) FROM stdin;
e91b4c76-b570-4f89-9e32-1188f28291d3	CSS	\N	Staff	\N	13c8b1af-b519-4926-b075-84865748a38d
f2902fd0-dc40-4418-84f7-4190e7b80437		\N		\N	e59f0ce8-c5b1-461c-a84c-6e219e0d5e63
\.


--
-- Data for Name: core_unit; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: core_unitofmeasure; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.core_unitofmeasure (id, name, short_code, description) FROM stdin;
5c2219d4-438d-4527-81aa-55e478007553	Percentage	Percentage	Percentage
cb8cb8fa-d59d-4727-8537-bef0a229e692	Unit	Unit	Unit
\.


--
-- Data for Name: core_userunit; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.core_userunit (id, is_primary, is_active, created_at, unit_id, user_id) FROM stdin;
ee89f0dd-20f1-494e-a05a-656cc2597133	t	t	2026-04-13 06:42:49.529217+00	c565908b-9de9-4111-9b43-29de0ade3210	13c8b1af-b519-4926-b075-84865748a38d
01065e4f-fc59-4380-9d44-b2e5858628c0	f	t	2026-04-13 16:48:12.13891+00	77487610-5f0b-4466-9dad-3ac66299a157	e59f0ce8-c5b1-461c-a84c-6e219e0d5e63
008d2d82-5422-4cf4-b8eb-69480edb658d	t	t	2026-04-13 15:05:25.852082+00	0342259f-04f6-4d27-8927-c2c244071b77	e59f0ce8-c5b1-461c-a84c-6e219e0d5e63
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	token_blacklist	blacklistedtoken
7	token_blacklist	outstandingtoken
8	core	unitofmeasure
9	core	profile
10	core	unit
11	core	userunit
12	pme	document
13	pme	reportingfrequency
14	pme	template
15	pme	item
16	pme	initiative
17	pme	itemcontributor
18	pme	reportingperiod
19	pme	initiativeaccomplishment
20	pme	templatenodetype
21	authentication	user
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: pme_document; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: pme_initiative; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: pme_initiativeaccomplishment; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: pme_item; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: pme_itemcontributor; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: pme_reportingfrequency; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.pme_reportingfrequency (id, name, short_code, description, months_interval) FROM stdin;
fc7cecbd-685e-43d3-af14-36b23b02cf7a	Quarterly	Quarterly	Quarterly	4
46e875fa-f5aa-4ceb-9323-dbbd36f0cc28	Trimestral	Trimestral	3 months	3
\.


--
-- Data for Name: pme_reportingperiod; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: pme_template; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.pme_template (id, name, short_code, description, created_at, updated_at) FROM stdin;
5689db78-879c-4e13-aa1f-8b31c699a5fc	Strategic Plan	Strat Plan	Strategic Plan	2026-04-13 05:40:21.414541+00	2026-04-13 05:40:21.414553+00
0c41cf90-5ec0-472f-a0ce-025b0d22d6fc	Performance Budget Monitoring System	PBMS		2026-04-13 06:33:24.678041+00	2026-04-14 03:55:36.620565+00
\.


--
-- Data for Name: pme_templatenodetype; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: itcadmin
--

COPY public.token_blacklist_blacklistedtoken (id, blacklisted_at, token_id) FROM stdin;
1	2026-04-13 05:26:10.480374+00	1
2	2026-04-13 06:43:13.966728+00	2
3	2026-04-13 14:05:10.276852+00	3
4	2026-06-15 09:34:55.070488+00	6
\.


--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: itcadmin
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: itcadmin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: itcadmin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: itcadmin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 84, true);


--
-- Name: authentication_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: itcadmin
--

SELECT pg_catalog.setval('public.authentication_user_groups_id_seq', 1, false);


--
-- Name: authentication_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: itcadmin
--

SELECT pg_catalog.setval('public.authentication_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: itcadmin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 305, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: itcadmin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 21, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: itcadmin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 35, true);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: itcadmin
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 4, true);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: itcadmin
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 6, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authentication_user authentication_user_email_key; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.authentication_user
    ADD CONSTRAINT authentication_user_email_key UNIQUE (email);


--
-- Name: authentication_user_groups authentication_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.authentication_user_groups
    ADD CONSTRAINT authentication_user_groups_pkey PRIMARY KEY (id);


--
-- Name: authentication_user_groups authentication_user_groups_user_id_group_id_8af031ac_uniq; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.authentication_user_groups
    ADD CONSTRAINT authentication_user_groups_user_id_group_id_8af031ac_uniq UNIQUE (user_id, group_id);


--
-- Name: authentication_user authentication_user_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.authentication_user
    ADD CONSTRAINT authentication_user_pkey PRIMARY KEY (id);


--
-- Name: authentication_user_user_permissions authentication_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.authentication_user_user_permissions
    ADD CONSTRAINT authentication_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: authentication_user_user_permissions authentication_user_user_user_id_permission_id_ec51b09f_uniq; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.authentication_user_user_permissions
    ADD CONSTRAINT authentication_user_user_user_id_permission_id_ec51b09f_uniq UNIQUE (user_id, permission_id);


--
-- Name: core_profile core_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_profile
    ADD CONSTRAINT core_profile_pkey PRIMARY KEY (id);


--
-- Name: core_profile core_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_profile
    ADD CONSTRAINT core_profile_user_id_key UNIQUE (user_id);


--
-- Name: core_unit core_unit_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_unit
    ADD CONSTRAINT core_unit_pkey PRIMARY KEY (id);


--
-- Name: core_unit core_unit_short_code_key; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_unit
    ADD CONSTRAINT core_unit_short_code_key UNIQUE (short_code);


--
-- Name: core_unitofmeasure core_unitofmeasure_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_unitofmeasure
    ADD CONSTRAINT core_unitofmeasure_pkey PRIMARY KEY (id);


--
-- Name: core_unitofmeasure core_unitofmeasure_short_code_key; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_unitofmeasure
    ADD CONSTRAINT core_unitofmeasure_short_code_key UNIQUE (short_code);


--
-- Name: core_userunit core_userunit_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_userunit
    ADD CONSTRAINT core_userunit_pkey PRIMARY KEY (id);


--
-- Name: core_userunit core_userunit_user_id_unit_id_44e67fa1_uniq; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_userunit
    ADD CONSTRAINT core_userunit_user_id_unit_id_44e67fa1_uniq UNIQUE (user_id, unit_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: pme_document pme_document_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_document
    ADD CONSTRAINT pme_document_pkey PRIMARY KEY (id);


--
-- Name: pme_initiative pme_initiative_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_initiative
    ADD CONSTRAINT pme_initiative_pkey PRIMARY KEY (id);


--
-- Name: pme_initiativeaccomplishment pme_initiativeaccomplishment_initiative_id_key; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_initiativeaccomplishment
    ADD CONSTRAINT pme_initiativeaccomplishment_initiative_id_key UNIQUE (initiative_id);


--
-- Name: pme_initiativeaccomplishment pme_initiativeaccomplishment_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_initiativeaccomplishment
    ADD CONSTRAINT pme_initiativeaccomplishment_pkey PRIMARY KEY (id);


--
-- Name: pme_item pme_item_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_item
    ADD CONSTRAINT pme_item_pkey PRIMARY KEY (id);


--
-- Name: pme_itemcontributor pme_itemcontributor_item_id_unit_id_961068ec_uniq; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_itemcontributor
    ADD CONSTRAINT pme_itemcontributor_item_id_unit_id_961068ec_uniq UNIQUE (item_id, unit_id);


--
-- Name: pme_itemcontributor pme_itemcontributor_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_itemcontributor
    ADD CONSTRAINT pme_itemcontributor_pkey PRIMARY KEY (id);


--
-- Name: pme_reportingfrequency pme_reportingfrequency_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_reportingfrequency
    ADD CONSTRAINT pme_reportingfrequency_pkey PRIMARY KEY (id);


--
-- Name: pme_reportingperiod pme_reportingperiod_document_id_period_number_3021951f_uniq; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_reportingperiod
    ADD CONSTRAINT pme_reportingperiod_document_id_period_number_3021951f_uniq UNIQUE (document_id, period_number);


--
-- Name: pme_reportingperiod pme_reportingperiod_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_reportingperiod
    ADD CONSTRAINT pme_reportingperiod_pkey PRIMARY KEY (id);


--
-- Name: pme_template pme_template_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_template
    ADD CONSTRAINT pme_template_pkey PRIMARY KEY (id);


--
-- Name: pme_templatenodetype pme_templatenodetype_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_templatenodetype
    ADD CONSTRAINT pme_templatenodetype_pkey PRIMARY KEY (id);


--
-- Name: pme_templatenodetype pme_templatenodetype_template_id_name_b60cfdbf_uniq; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_templatenodetype
    ADD CONSTRAINT pme_templatenodetype_template_id_name_b60cfdbf_uniq UNIQUE (template_id, name);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authentication_user_email_2220eff5_like; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX authentication_user_email_2220eff5_like ON public.authentication_user USING btree (email varchar_pattern_ops);


--
-- Name: authentication_user_groups_group_id_6b5c44b7; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX authentication_user_groups_group_id_6b5c44b7 ON public.authentication_user_groups USING btree (group_id);


--
-- Name: authentication_user_groups_user_id_30868577; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX authentication_user_groups_user_id_30868577 ON public.authentication_user_groups USING btree (user_id);


--
-- Name: authentication_user_user_permissions_permission_id_ea6be19a; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX authentication_user_user_permissions_permission_id_ea6be19a ON public.authentication_user_user_permissions USING btree (permission_id);


--
-- Name: authentication_user_user_permissions_user_id_736ebf7e; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX authentication_user_user_permissions_user_id_736ebf7e ON public.authentication_user_user_permissions USING btree (user_id);


--
-- Name: core_unit_parent_id_92d86b0b; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX core_unit_parent_id_92d86b0b ON public.core_unit USING btree (parent_id);


--
-- Name: core_unit_short_code_c05753ff_like; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX core_unit_short_code_c05753ff_like ON public.core_unit USING btree (short_code varchar_pattern_ops);


--
-- Name: core_unitofmeasure_short_code_dde2ec41_like; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX core_unitofmeasure_short_code_dde2ec41_like ON public.core_unitofmeasure USING btree (short_code varchar_pattern_ops);


--
-- Name: core_userunit_unit_id_292028c5; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX core_userunit_unit_id_292028c5 ON public.core_userunit USING btree (unit_id);


--
-- Name: core_userunit_user_id_596912a8; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX core_userunit_user_id_596912a8 ON public.core_userunit USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: pme_document_reporting_frequency_id_ccadae97; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_document_reporting_frequency_id_ccadae97 ON public.pme_document USING btree (reporting_frequency_id);


--
-- Name: pme_document_template_id_0c38c6f3; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_document_template_id_0c38c6f3 ON public.pme_document USING btree (template_id);


--
-- Name: pme_initiat_initiat_60223f_idx; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_initiat_initiat_60223f_idx ON public.pme_initiativeaccomplishment USING btree (initiative_id, reporting_period_id);


--
-- Name: pme_initiat_item_id_355a47_idx; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_initiat_item_id_355a47_idx ON public.pme_initiative USING btree (item_id, description);


--
-- Name: pme_initiative_created_by_id_1f8bb000; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_initiative_created_by_id_1f8bb000 ON public.pme_initiative USING btree (created_by_id);


--
-- Name: pme_initiative_item_id_5789d724; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_initiative_item_id_5789d724 ON public.pme_initiative USING btree (item_id);


--
-- Name: pme_initiative_unit_id_1fdf17c6; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_initiative_unit_id_1fdf17c6 ON public.pme_initiative USING btree (unit_id);


--
-- Name: pme_initiativeaccomplishment_reporting_period_id_ff5d398a; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_initiativeaccomplishment_reporting_period_id_ff5d398a ON public.pme_initiativeaccomplishment USING btree (reporting_period_id);


--
-- Name: pme_initiativeaccomplishment_submitted_by_id_f5323c7f; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_initiativeaccomplishment_submitted_by_id_f5323c7f ON public.pme_initiativeaccomplishment USING btree (submitted_by_id);


--
-- Name: pme_item_documen_56ddc1_idx; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_item_documen_56ddc1_idx ON public.pme_item USING btree (document_id);


--
-- Name: pme_item_document_id_830b3cb8; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_item_document_id_830b3cb8 ON public.pme_item USING btree (document_id);


--
-- Name: pme_item_parent__559813_idx; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_item_parent__559813_idx ON public.pme_item USING btree (parent_id);


--
-- Name: pme_item_parent_id_2a635567; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_item_parent_id_2a635567 ON public.pme_item USING btree (parent_id);


--
-- Name: pme_item_templat_adf9c6_idx; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_item_templat_adf9c6_idx ON public.pme_item USING btree (template_node_type_id);


--
-- Name: pme_item_template_node_type_id_245b2e97; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_item_template_node_type_id_245b2e97 ON public.pme_item USING btree (template_node_type_id);


--
-- Name: pme_item_unit_of_measure_id_28abbd6e; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_item_unit_of_measure_id_28abbd6e ON public.pme_item USING btree (unit_of_measure_id);


--
-- Name: pme_itemcontributor_item_id_16988f79; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_itemcontributor_item_id_16988f79 ON public.pme_itemcontributor USING btree (item_id);


--
-- Name: pme_itemcontributor_unit_id_d33f766a; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_itemcontributor_unit_id_d33f766a ON public.pme_itemcontributor USING btree (unit_id);


--
-- Name: pme_reportingperiod_document_id_617b3a36; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_reportingperiod_document_id_617b3a36 ON public.pme_reportingperiod USING btree (document_id);


--
-- Name: pme_templatenodetype_template_id_9a4151a7; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX pme_templatenodetype_template_id_9a4151a7 ON public.pme_templatenodetype USING btree (template_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: itcadmin
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authentication_user_user_permissions authentication_user__permission_id_ea6be19a_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.authentication_user_user_permissions
    ADD CONSTRAINT authentication_user__permission_id_ea6be19a_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authentication_user_groups authentication_user__user_id_30868577_fk_authentic; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.authentication_user_groups
    ADD CONSTRAINT authentication_user__user_id_30868577_fk_authentic FOREIGN KEY (user_id) REFERENCES public.authentication_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authentication_user_user_permissions authentication_user__user_id_736ebf7e_fk_authentic; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.authentication_user_user_permissions
    ADD CONSTRAINT authentication_user__user_id_736ebf7e_fk_authentic FOREIGN KEY (user_id) REFERENCES public.authentication_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authentication_user_groups authentication_user_groups_group_id_6b5c44b7_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.authentication_user_groups
    ADD CONSTRAINT authentication_user_groups_group_id_6b5c44b7_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_profile core_profile_user_id_bf8ada58_fk_authentication_user_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_profile
    ADD CONSTRAINT core_profile_user_id_bf8ada58_fk_authentication_user_id FOREIGN KEY (user_id) REFERENCES public.authentication_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_unit core_unit_parent_id_92d86b0b_fk_core_unit_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_unit
    ADD CONSTRAINT core_unit_parent_id_92d86b0b_fk_core_unit_id FOREIGN KEY (parent_id) REFERENCES public.core_unit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_userunit core_userunit_unit_id_292028c5_fk_core_unit_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_userunit
    ADD CONSTRAINT core_userunit_unit_id_292028c5_fk_core_unit_id FOREIGN KEY (unit_id) REFERENCES public.core_unit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_userunit core_userunit_user_id_596912a8_fk_authentication_user_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.core_userunit
    ADD CONSTRAINT core_userunit_user_id_596912a8_fk_authentication_user_id FOREIGN KEY (user_id) REFERENCES public.authentication_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_authentication_user_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_authentication_user_id FOREIGN KEY (user_id) REFERENCES public.authentication_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_document pme_document_reporting_frequency__ccadae97_fk_pme_repor; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_document
    ADD CONSTRAINT pme_document_reporting_frequency__ccadae97_fk_pme_repor FOREIGN KEY (reporting_frequency_id) REFERENCES public.pme_reportingfrequency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_document pme_document_template_id_0c38c6f3_fk_pme_template_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_document
    ADD CONSTRAINT pme_document_template_id_0c38c6f3_fk_pme_template_id FOREIGN KEY (template_id) REFERENCES public.pme_template(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_initiative pme_initiative_created_by_id_1f8bb000_fk_authentication_user_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_initiative
    ADD CONSTRAINT pme_initiative_created_by_id_1f8bb000_fk_authentication_user_id FOREIGN KEY (created_by_id) REFERENCES public.authentication_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_initiative pme_initiative_item_id_5789d724_fk_pme_item_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_initiative
    ADD CONSTRAINT pme_initiative_item_id_5789d724_fk_pme_item_id FOREIGN KEY (item_id) REFERENCES public.pme_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_initiative pme_initiative_unit_id_1fdf17c6_fk_core_unit_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_initiative
    ADD CONSTRAINT pme_initiative_unit_id_1fdf17c6_fk_core_unit_id FOREIGN KEY (unit_id) REFERENCES public.core_unit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_initiativeaccomplishment pme_initiativeaccomp_initiative_id_f8dcd492_fk_pme_initi; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_initiativeaccomplishment
    ADD CONSTRAINT pme_initiativeaccomp_initiative_id_f8dcd492_fk_pme_initi FOREIGN KEY (initiative_id) REFERENCES public.pme_initiative(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_initiativeaccomplishment pme_initiativeaccomp_reporting_period_id_ff5d398a_fk_pme_repor; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_initiativeaccomplishment
    ADD CONSTRAINT pme_initiativeaccomp_reporting_period_id_ff5d398a_fk_pme_repor FOREIGN KEY (reporting_period_id) REFERENCES public.pme_reportingperiod(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_initiativeaccomplishment pme_initiativeaccomp_submitted_by_id_f5323c7f_fk_authentic; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_initiativeaccomplishment
    ADD CONSTRAINT pme_initiativeaccomp_submitted_by_id_f5323c7f_fk_authentic FOREIGN KEY (submitted_by_id) REFERENCES public.authentication_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_item pme_item_document_id_830b3cb8_fk_pme_document_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_item
    ADD CONSTRAINT pme_item_document_id_830b3cb8_fk_pme_document_id FOREIGN KEY (document_id) REFERENCES public.pme_document(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_item pme_item_parent_id_2a635567_fk_pme_item_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_item
    ADD CONSTRAINT pme_item_parent_id_2a635567_fk_pme_item_id FOREIGN KEY (parent_id) REFERENCES public.pme_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_item pme_item_template_node_type_i_245b2e97_fk_pme_templ; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_item
    ADD CONSTRAINT pme_item_template_node_type_i_245b2e97_fk_pme_templ FOREIGN KEY (template_node_type_id) REFERENCES public.pme_templatenodetype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_item pme_item_unit_of_measure_id_28abbd6e_fk_core_unitofmeasure_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_item
    ADD CONSTRAINT pme_item_unit_of_measure_id_28abbd6e_fk_core_unitofmeasure_id FOREIGN KEY (unit_of_measure_id) REFERENCES public.core_unitofmeasure(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_itemcontributor pme_itemcontributor_item_id_16988f79_fk_pme_item_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_itemcontributor
    ADD CONSTRAINT pme_itemcontributor_item_id_16988f79_fk_pme_item_id FOREIGN KEY (item_id) REFERENCES public.pme_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_itemcontributor pme_itemcontributor_unit_id_d33f766a_fk_core_unit_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_itemcontributor
    ADD CONSTRAINT pme_itemcontributor_unit_id_d33f766a_fk_core_unit_id FOREIGN KEY (unit_id) REFERENCES public.core_unit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_reportingperiod pme_reportingperiod_document_id_617b3a36_fk_pme_document_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_reportingperiod
    ADD CONSTRAINT pme_reportingperiod_document_id_617b3a36_fk_pme_document_id FOREIGN KEY (document_id) REFERENCES public.pme_document(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pme_templatenodetype pme_templatenodetype_template_id_9a4151a7_fk_pme_template_id; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.pme_templatenodetype
    ADD CONSTRAINT pme_templatenodetype_template_id_9a4151a7_fk_pme_template_id FOREIGN KEY (template_id) REFERENCES public.pme_template(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_authentic; Type: FK CONSTRAINT; Schema: public; Owner: itcadmin
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_authentic FOREIGN KEY (user_id) REFERENCES public.authentication_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict tZAbPBhShRch4dYUyDv8gPTHMiLiF6ilCYVMyNEVRuvcLBobgSWNQKgBqnusbhg

